<footer id="footer" class="clearfix">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-12">
                <div class="widget widget-logo">
                    <div class="logo-footer" id="logo-footer">
                    <a href="https://cdn.discordapp.com/avatars/<%= discord_client.user.id %>/<%= discord_client.user.avatar %>.png?size=1024">
                        <img id="logo_footer" src="https://cdn.discordapp.com/avatars/<%= discord_client.user.id %>/<%= discord_client.user.avatar %>.png?size=1024" alt="" width="135" height="56" style="border-radius: 50%;"
                        data-retina="https://cdn.discordapp.com/avatars/<%= discord_client.user.id %>/<%= discord_client.user.avatar %>.png?size=1024" data-width="135"
                        data-height="56">
                    </a>
                </div>
                    <p class="sub-widget-logo">Nanoha is a discord bot focused on <strong>Anime</strong> and <strong>Manga</strong> with a lot of features.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-7 col-7">
                <div class="widget widget-menu style-2">
                    <h5 class="title-widget">Resources</h5>
                    <ul>
                        <li><a href="https://help.nanoha.live/">Help & Support</a></li>
                        <li><a href="/api">API</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-5 col-5">
                <div class="widget widget-menu fl-st-3">
                    <h5 class="title-widget">Company</h5>
                    <ul>
                        <li><a href="/staff">Staff</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7 col-12">
                <div class="widget widget-subcribe">
                    <div class="widget-social style-1 mg-t32">
                        <ul>
                            <li><a href="/discord"><i class="bi bi-discord"></i></a></li>
                            <li><a href="https://twitter.com/Nanoha_Live"><i class="bi bi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>